<div class="timeline">
  <ul>
    {{#each events as |event|}}
      {{timeline-event
        event=event
        isSelected=(contains selectedEvents event)
        isHighlighted=(eq highlightedEvent event)
        selectEvent=(action selectEvent)
        addEventsToSelection=(action addEventsToSelection)
        highlightEvent=(action highlightEvent)
      }}
    {{/each}}
  </ul>
</div>

<div class="controls">
  <button {{action addEvent 'drop-cube'}} title="Add event after the selected event">Add ‘Drop Cube’ Event</button>
  <button {{action deleteEvent}} title="Delete the selected event">Delete Event</button>
</div>
