html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background-color: #2c2c2f;
  font-size: 12px;
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 800px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

article {
  width: 960px;
  margin: auto;
  padding: 8vh 30px;
}

article h1 {
  text-align: center;
  font-size: 29px;
  font-weight: 300;
  font-family: "Helvetica Neue", sans-serif;
  color: #e2e2e2;
  border-bottom: 1px solid #4c4c4c;
  padding-bottom: 4vh;
  margin: 0 15% 6vh;
}

::-webkit-scrollbar {
    width: 13px;
    height: 18px;
}

::-webkit-scrollbar-thumb {
    height: 6px;
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: #444; 
}

.ui-modules :hover ::-webkit-scrollbar-thumb {
  background-color: #616161;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/**********************************/
/* FORMS                          */
/**********************************/

button {
  border: 1px solid black;
  background-color: #55556f;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  color: rgba(255, 255, 255, 0.9);
  padding: 0.45em 1em 0.6em;
  line-height: 1;
  outline: 0;
  cursor: pointer;
}

button:hover {
  background-color: #62627f;
}

button i.fa {
  font-size: 125%;
  margin-top: 1px;
}

button:active {
  background-color: #444459;
}

input[type=text],
input[type=number] {
  background: #444;
  border: 1px solid black;
  padding: 0.5em 0.8em;
  color: white;
  outline: 0;
  width: 100px;
}

input[type=text]:focus,
input[type=number]:focus {
  border-color: #39c;
}

select {
  margin-top: 3px;
  width: 100px;
}

.control {
  display: flex;
  margin-bottom: 0.5em
}

.control label {
  flex: 0 0 100px;
  padding: 0.5em 0;
}

.control input {
  flex: 1 1;
  width: 0;
}

.new-path-form {
  text-align: center;
  margin: 80px 0;
}

.new-path-form label {
  display: block;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 22px;
  color: #999;
  font-weight: 300;
}

.new-path-form input {
  background-color: #262626;
  margin-top: 0.5em;
  /*border-color: #666;*/
  /*border-width: 0 0 3px;*/
  font-size: 32px;
  text-align: center;
  width: 12em;
}

/**********************************/
/* MAP                            */
/**********************************/

svg.svg-editor {
  background-color: #445;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body[data-tool=selection] svg {
  cursor: crosshair;
}

body[data-tool=move] svg {
  cursor: grab;
  cursor: -webkit-grab;
}

body.grabbing[data-tool=move] svg {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

/* Grid and axes */

svg #grid-pattern line {
  stroke: rgba(255, 255, 255, 0.15);
}

svg #subgrid-pattern line {
  stroke: rgba(255, 255, 255, 0.1);
}

svg line.axes {
  stroke: #70707c;
}

/* Lines */

svg g.line line {
  stroke: #bbbbc4;
  stroke-linecap: round;
  stroke-width: 2px;
}

svg g.line.selected line {
  stroke: white;
}

svg g.line-handles .handle {
  fill: #bbbbc4;
  r: 3;
}

svg g.line-handles.selected .handle {
  fill: white;
  r: 4;
}

/* Paths */

svg g.path path {
  stroke: #e90;
  stroke-width: 2px;
  fill: none;
}

svg g.path path.contruction-path {
  stroke-width: 1px;
  stroke-dasharray: 5, 5;
}

svg g.path-handles .handle {
  fill: rgba(238, 153, 0, 0.4);
  r: 4;
}

svg g.path-handles .handle.highlighted {
  fill: #e90;
}

svg g.path-handles .handle.selected {
  fill: #e90;
}

/* Selections */

svg .selection-marquee {
  fill: none;
  stroke-dasharray: 5, 5;
  stroke: rgba(255, 255, 255, 0.6);
}

/* Mouse position indicator */

.mouse-position {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: monospace, sans-serif;
  pointer-events: none;
}

/**********************************/
/* UI MODULES                     */
/**********************************/

.ui-modules {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 260px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.ui-modules.attributes {
  right: 20px;
  left: auto;
}

.ui-module {
  margin-bottom: 10px;
  flex: 0 0 auto;
  pointer-events: auto;
}

.ui-module:last-of-type {
  margin-bottom: 0;
}

.ui-module {
  background-color: #2c2c2c;
  border: 1px solid black;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.1),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
}

.ui-module.mode-switcher {
  display: flex;
  margin-bottom: 10px;
}

.ui-module.mode-switcher a {
  flex: 1;
  border-right: 1px solid black;
  border-left: 0;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em;
  background-color: #2c2c2c;
  background-image: linear-gradient(rgba(255, 255, 255, 0.07), transparent);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.ui-module.mode-switcher a:last-of-type {
  border-right: none;
}

.ui-module.mode-switcher a.active {
  background-color: #292929;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), transparent);;
  box-shadow:
    inset 0 -1px 0 rgba(255, 255, 255, 0.05),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
}

.ui-module.event-timeline {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.ui-module.event-timeline .placeholder {
  text-align: center;
  padding: 0 20px;
  color: #999;
  font-style: italic;
}

.ui-module.event-timeline .timeline {
  margin: 0;
  padding: 1em 0;
  overflow-y: auto;
  flex: 1 1;
}

.ui-module.event-timeline ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.ui-module.event-timeline ul::before {
  content: '';
  position: absolute;
  left: 2em;
  margin: -5px 0 -5px 1px;
  top: 1.55em;
  bottom: 1.55em;
  width: 3px;
  background-color: rgba(255, 255, 255, 0.15);
}

.ui-module.event-timeline li {
  list-style-type: none;
  padding: 0.5em 2em 0.6em 3.5em;
  position: relative;
  color: #aaa;
  font-style: italic;
  cursor: pointer;
  font-family: monospace;
  font-size: 95%; 
}

.ui-module.event-timeline li.highlighted {
  color: #ccc;
  background-color: rgba(180, 170, 160, 0.075);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.06),
    inset 0 -1px 1px rgba(0, 0, 0, 0.3);
}

.ui-module.event-timeline li.selected {
  color: #eee;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow:
    inset 0 -1px 0 rgba(255, 255, 255, 0.08),
    inset 0 1px 1px rgba(0, 0, 0, 0.3);
}

.ui-module.event-timeline li::before {
  content: '';
  position: absolute;
  top: 50%;
  margin-left: -1.5em;
  width: 7px;
  height: 7px;
  margin-top: -3px;
  border-radius: 50%;
  background-color: #b80;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.ui-module.event-timeline li:last-child::after {
  content: none;
}

.ui-module.event-timeline li[data-event-type=go-to-wall]::before {
  background-color: teal;
}

.ui-module.event-timeline li[data-event-type=drop-cube]::before {
  background-color: #37c;
}

.ui-module.event-timeline li[data-event-type=toggle-localisation]::before {
  background-color: #37c;
}

.ui-module.event-timeline li[data-event-type=wait]::before {
  background-color: #b44;
}

.ui-module.event-timeline li[data-event-type=message]::before {
  background-color: #5a7;
}

.ui-module.event-timeline .controls {
  flex: 0 0;
  background-color: rgba(50, 50, 50, 0.8);
  border-top: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
}

.ui-module.event-timeline .controls > div {
  flex: 0 0 auto;
}

.ui-module.event-timeline .controls button {
  border-width: 0 1px 0 0;
  float: left;
  width: 2.8em;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.ui-module.event-timeline .controls > div.right button {
  border-width: 0 0 0 1px;
}

.ui-module.connection {
  display: flex;
}

.connection-indicator {
  flex: 0 0 26px;
  color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid black;
  line-height: 27px;
  text-align: center;
  font-size: 120%;
}

.connection-indicator.connecting {
  /*background-color: #c71;*/
}

.connection-indicator.connected {
  /*background-color: #2c2;*/
}

.ui-module.connection input {
  flex: 1 1 0;
  border-width: 0 1px 0 0;
}

.ui-module.connection input:focus {
  border-color: black;
}

.ui-module.connection button {
  border-width: 0;
}

.ui-module.event-editor {
  color: #999;
  flex: 1 1;
  display: flex;
  flex-direction: column;
}

.ui-module.event-editor header {
  flex: 0 0 auto;
  display: flex;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  padding: 1em 1.2em 0.8em;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1)
}

.ui-module.event-editor header h2 {
  font-size: inherit;
  margin: 0;
  flex: 1 1;
}

.ui-module.event-editor header a {
  flex: 0 0 auto;
  font-size: 18px;
  line-height: 0;
  margin: -1.2em 0 -1.2em -1.2em;
  padding: 1.1em 1.2em;
  cursor: pointer;
}

.ui-module.event-editor header a:last-of-type {
  margin-left: 0;
  margin-right: -1.2em;
}

.ui-module.event-editor header a:hover {
  color: #ccc;
}

.ui-module.event-editor header a.disabled {
  color: #555;
  pointer-events: none;
}

.ui-module.event-editor .controls {
  flex: 1 1;
  padding: 2em;
  overflow-y: auto;
}

.ui-module.event-editor .position {
  text-align: center;
  margin-bottom: 2em;
}

/**********************************/
/* SAVE AND LOAD                  */
/**********************************/

.paths {
  display: flex;
  flex-wrap: wrap;
}

.path-preview header {
  display: flex;
}

.path-preview header button {
  visibility: hidden;
  border: 0;
  background-color: transparent;
  box-shadow: none;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 2em;
}

.path-preview:hover header button {
  visibility: visible;
}

.path-preview header button:hover {
  color: rgba(255, 255, 255, 0.8);
}

.path-preview, .new-path {
  width: 300px;
  height: 250px;
  margin-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.paths > *:nth-child(3n) {
  margin-right: 0;
}

.path-preview {
  background-color: #445;
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  box-shadow: inset 0 1px 0 0.5px rgba(255, 255, 255, 0.15);
}

.path-preview:hover, .new-path:hover {
  background-color: #49495c;
  cursor: pointer;
}

.path-preview h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
  flex: 1;
  /*background: linear-gradient(rgba(0, 0, 0, 0.2) 20px, transparent);*/
  padding: 1em 1em 0.8em;
  margin: 0;
}

.path-preview svg {
  flex: 0 0 auto;
  border-width: 1px 0;
  width: 278px; /* 300px width - 20px padding - 2px border */
  margin: 0 10px;
  /*outline: 1px solid #999;*/
}

.path-preview .date-modified {
  padding: 1em;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Helvetica Neue", sans-serif;
  flex: 1;
}

.new-path {
  font-size: 120px;
  color: rgba(255, 255, 255, 0.05);
  /*background-color: #445;*/
  text-align: center;
  border: 1px solid transparent;
  line-height: 250px;
}

.new-path:hover {
  color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.05);
  border-color: rgba(0, 0, 0, 0.6);
}

/**********************************/
/* TESTING                        */
/**********************************/

#ember-testing-container {
  display: none;
}

#mocha #mocha-stats {
  color: #999;
}

#mocha #mocha-stats em {
  color: #ccc;
}
