html {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  background: #222;
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
}

.map {
  background-color: #445;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map g.wall line {
  stroke-width: 2px;
  stroke-linecap: round;
  stroke: rgb(166, 166, 174);
}

.map .map-layer-selected g.wall line {
  stroke: white;
}

.map g.wall .handle {
  fill: white;
}

.map #grid-pattern line {
  stroke: #565666;
}

.map line.axes {
  stroke: #70707c;
}

.map g.path-layer line {
  stroke: #e90;
}

.map g.path-layer circle.handle {
  fill: #e90;
}

.map g.path path {
  stroke: #e90;
  stroke-width: 2px;
  fill: none;
}

.map g.path path.contruction-path {
  stroke-width: 1px;
  stroke-dasharray: 3 0 2;
}

/**********************************/
/* UI MODULES                     */
/**********************************/

.ui-modules {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.ui-modules > div {
  margin-bottom: 10px;
  flex: 0 0 auto;
}

.ui-modules > div:last-of-type {
  margin-bottom: 0;
}

.ui-modules .mode-switcher {
  display: flex;
}

.ui-modules .mode-switcher a {
  flex: 1;
  border: 1px solid black;
  border-left: 0;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em;
  background-color: #2c2c2c;
  background-image: linear-gradient(rgba(255, 255, 255, 0.07), transparent);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.ui-modules .mode-switcher a:first-of-type {
  border-left: 1px solid black;
}

.ui-modules .mode-switcher a.active {
  background-color: #292929;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), transparent);;
  box-shadow:
    inset 0 -1px 0 rgba(255, 255, 255, 0.05),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
}

.ui-module {
  background-color: #2c2c2c;
  border: 1px solid black;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.1),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
}

.ui-modules .path-timeline {
  flex-grow: 1;
}

.path-item {
  padding: 2em;
  text-align: center;
  font-style: italic;
  color: #999;
}

.path-timeline ul {
  margin: 2em 0;
  padding: 0 2em;
}

.path-timeline li {
  list-style-type: none;
  margin-bottom: 1em;
  padding-left: 1.5em;
  position: relative;
  color: #aaa;
  font-style: italic;
}

.path-timeline li::before {
  content: '';
  position: absolute;
  top: 3px;
  margin-left: -1.5em;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #b80;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.path-timeline li::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 3px;
  width: 3px;
  height: 30px;
  background-color: #852;
}

.path-timeline li:last-child::after {
  content: none;
}

/**********************************/
/* TESTING                        */
/**********************************/

#ember-testing-container {
  display: none;
}

#mocha #mocha-stats {
  color: #999;
}

#mocha #mocha-stats em {
  color: #ccc;
}
