html {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 12px;
  background: #222;
  color: white;
  padding: 0;
  margin: 0;
  height: 100%;
  min-width: 800px;
  position: relative;
}

/**********************************/
/* FORMS                          */
/**********************************/

button {
  border: 1px solid black;
  background-color: #55556f;
  color: rgba(255, 255, 255, 0.9);
  padding: 0.45em 1em 0.6em;
  line-height: 1;
}

input[type=text],
input[type=number] {
  background: #444;
  border: 1px solid black;
  padding: 0.5em 0.8em;
  color: white;
  outline: 0;
  width: 100px;
}

input[type=text]:focus,
input[type=number]:focus {
  border-color: #39c;
}

.control {
  display: flex;
  margin-bottom: 0.5em
}

.control label {
  flex: 0 0 100px;
  padding: 0.5em 0;
}

.control input {
  flex: 1 1;
  width: 0;
}

/**********************************/
/* MAP                            */
/**********************************/

.map {
  background-color: #445;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map g.wall line {
  stroke-width: 2px;
  stroke-linecap: round;
  stroke: rgb(166, 166, 174);
}

.map .map-layer-selected g.wall line {
  stroke: white;
}

.map g.wall .handle {
  fill: white;
}

.map #grid-pattern line {
  stroke: #565666;
}

.map line.axes {
  stroke: #70707c;
}

.map g.path-layer line {
  stroke: #e90;
}

.map g.path-layer circle.handle {
  fill: #e90;
}

.map g.path path {
  stroke: #e90;
  stroke-width: 2px;
  fill: none;
}

.map g.path path.contruction-path {
  stroke-width: 1px;
  stroke-dasharray: 3 0 2;
}

/**********************************/
/* UI MODULES                     */
/**********************************/

.ui-modules {
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.ui-modules.attributes {
  right: 20px;
  left: auto;
  width: 260px;
}

.ui-modules > div {
  margin-bottom: 10px;
  flex: 0 0 auto;
}

.ui-modules > div:last-of-type {
  margin-bottom: 0;
}

.ui-module {
  background-color: #2c2c2c;
  border: 1px solid black;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.1),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
}

.ui-module.mode-switcher {
  display: flex;
}

.ui-module.mode-switcher a {
  flex: 1;
  border-right: 1px solid black;
  border-left: 0;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em;
  background-color: #2c2c2c;
  background-image: linear-gradient(rgba(255, 255, 255, 0.07), transparent);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
  cursor: pointer;
}

.ui-module.mode-switcher a:last-of-type {
  border-right: none;
}

.ui-module.mode-switcher a.active {
  background-color: #292929;
  background-image: linear-gradient(rgba(0, 0, 0, 0.05), transparent);;
  box-shadow:
    inset 0 -1px 0 rgba(255, 255, 255, 0.05),
    inset 1px 0 0 rgba(255, 255, 255, 0.05),
    inset -1px 0 0 rgba(255, 255, 255, 0.05);
}

.ui-module.event-timeline {
  flex-grow: 1;
}

.ui-module.event-timeline ul {
  margin: 2em 0;
  padding: 0 2em;
}

.ui-module.event-timeline li {
  list-style-type: none;
  margin-bottom: 1em;
  padding-left: 1.5em;
  position: relative;
  color: #aaa;
  font-style: italic;
}

.ui-module.event-timeline li::before {
  content: '';
  position: absolute;
  top: 3px;
  margin-left: -1.5em;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #b80;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.ui-module.event-timeline li::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 3px;
  width: 3px;
  height: 30px;
  background-color: #852;
}

.ui-module.event-timeline li:last-child::after {
  content: none;
}

.ui-module.connection {
  padding: 2em;
}

.connection-indicator {
  float: left;
  width: 2em;
  height: 2em;
  margin: 0 1em 0 0;
  background-color: #c42;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3);
}

.connection-indicator.connecting {
  background-color: #09f;
}

.connection-indicator.connected {
  background-color: #2c2;
}

.ui-module.event-editor {
  padding: 2em;
  color: #999;
  flex: 1;
}

.ui-module.event-editor h2 {
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  padding: 1em 2em 0.8em;
  font-size: inherit;
  margin: -2em -2em 2em;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1)
}

.ui-module.event-editor .position {
  text-align: center;
  margin-bottom: 2em;
}

/**********************************/
/* TESTING                        */
/**********************************/

#ember-testing-container {
  display: none;
}

#mocha #mocha-stats {
  color: #999;
}

#mocha #mocha-stats em {
  color: #ccc;
}
