<article class="save-and-load">
  <h1>Saved Paths</h1>
  
  <div class="paths">
    {{#each model as |instructionSet|}}
      {{path-preview
        instructions=instructionSet
        click=(action 'showInstructions' instructionSet)
      }}
    {{/each}}

    <div class="new-path" {{action 'newInstructions' on="click"}}>
      {{fa-icon 'plus-circle'}}
    </div>
  </div>
</article>
