<h1>Map Editor</h1>
{{map-editor
  lines=model
  add=(action 'addLine')
  select=(action 'selectLine')
  deselectAll=(action 'deselectAll')
  moveHandle=(action 'moveHandle')
  clear=(action 'clearLines')}}
