{{map-editor
  viewport=mapViewport
  layers=layers
  lines=model
  add=(action 'addShape')
  select=(action 'selectShape')
  deselectAll=(action 'deselectAll')
  resize=(action 'resizeShape')
  remove=(action 'removeShapes')}}

<aside class="ui-modules">
  <div class="ui-module mode-switcher">
    {{#link-to 'map'}}Map{{/link-to}}
    {{#link-to 'paths'}}Paths{{/link-to}}
  </div>
</aside>
