{{map-editor
  viewport=mapViewport
  layers=layers
  lines=model
  add=(action 'addShape')
  select=(action 'selectShape')
  deselectAll=(action 'deselectAll')
  resize=(action 'resizeShape')
  remove=(action 'removeShapes')}}

<aside class="ui-modules">
  <div class="ui-module nav">
    {{#link-to 'paths'}}{{fa-icon 'arrow-left'}}{{/link-to}}
    <h1>Map Editor</h1>
  </div>
</aside>
